
nav h1{
    font-size: 40px;
    font-family: cursive;
    font-weight: bolder;
    padding: 0px 50px;
    text-shadow: 5px 5px 2px black,5px 5px 2px black,5px 5px 2px black,5px 5px 2px black;
    color: white;
}
nav{
    margin-top: 60px ;
    font-weight: bolder;
}

.icon{
   
    font-size: 30px;
    text-shadow: 5px 5px 5px black,5px 5px 5px black,5px 5px 5px black,5px 5px 5px black;
}

#cards{
    border-radius: 5px;
    box-shadow: 5px 5px 10px black,5px 5px 10px black,5px 5px 10px black,5px 5px 10px black;
}
